<nav class="nav navbar-default">
  <div class="container">

    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to "Sign up", new_user_path %></li>
      <li><%= link_to "Login", new_session_path %></li>
    </ul>

  </div>
</nav>
<br>
<h1 class="text-center">fastcasting</h1>
