<div class="col-lg-3">
  <br>
                    <a href="#" class="btn btn-default btn-block">Create a new Project</a>
<br>
          <div class="panel panel-default">
            <div class="panel-heading">
                <i class="text-center"></i> All Projects
            </div>
              <div class="panel-body">
                  <div class="list-group">
                      <a href="#" class="list-group-item">
                          <i class="fa fa-comment fa-fw"></i> Project Name
                          <span class="pull-center text-muted small">Date</span>
                          <span class="pull-right text-muted small">Status</span>
                      </a>
                      <a href="#" class="list-group-item">
                          <i class="fa fa-comment fa-fw"></i> Project Name
                          <span class="pull-center text-muted small">Date</span>
                          <span class="pull-right text-muted small">Status</span>
                      </a>
                      <a href="#" class="list-group-item">
                          <i class="fa fa-comment fa-fw"></i> Project Name
                          <span class="pull-center text-muted small">Date</span>
                          <span class="pull-right text-muted small">Status</span>
                      </a>
                      <a href="#" class="list-group-item">
                          <i class="fa fa-comment fa-fw"></i> Project Name
                          <span class="pull-center text-muted small">Date</span>
                          <span class="pull-right text-muted small">Status</span>
                      </a>
                      <a href="#" class="list-group-item">
                          <i class="fa fa-comment fa-fw"></i> Project Name
                          <span class="pull-center text-muted small">Date</span>
                          <span class="pull-right text-muted small">Status</span>
                      </a>
                      <a href="#" class="list-group-item">
                          <i class="fa fa-comment fa-fw"></i> Project Name
                          <span class="pull-center text-muted small">Date</span>
                          <span class="pull-right text-muted small">Status</span>
                      </a>
                  </div>
              </div>
          </div>
  </div>

  <div class="col-lg-9 ">
  </div>
