.dashboard {
  background-color: blue;
}

.col-shows {
  padding-left: 45px;
  padding-top: ‒20;
  border-top-width: 30px;
  margin-top: 36px;
}


.div {
  width: 600px;
  height: 600px;
  background-color: red;
  position: absolute;
  text-align: center;
}
