.col-shows {
  padding-left: 45px;
  padding-top: ‒20;
  border-top-width: 30px;
  margin-top: 36px;
}

.shape {
  border: 1px solid black;
  display: inline-block;
  margin: 10px;
}
/* Sizes */

.small {
  width: 40px;
  height: 40px;
}


.medium {
  width: 70px;
  height: 70px;
}

.large {
  width: 140px;
  height: 140px;
}

/* Shapes */

.circle {
  border-radius: 100%;
}

.image-min {
  margin-top: 10px;
  margin-left: 10px;
  float: left;
}

.image-min-fixed {
  margin-top: 10px;
  float: left;
}


.border-left-user-select {
  border-left-color: #000;
  border-left-style: solid;
  border-left-width: 1px;
}
