.col-shows {
  padding-left: 45px;
  padding-top: ‒20;
  border-top-width: 30px;
  margin-top: 36px;
}


.div {
  width: 600px;
  height: 600px;
  background-color: red;
  position: absolute;
  text-align: center;
}

.shape {
  border: 1px solid black;
  display: inline-block;
  margin: 10px;
}
/* Sizes */

.small {
  width: 40px;
  height: 40px;
}


.medium {
  width: 70px;
  height: 70px;
}

.large {
  width: 140px;
  height: 140px;
}

/* Shapes */

.circle {
  border-radius: 100%;
}

.diamond {
  transform: rotate(45deg);
  margin: 20px;
}

/* colors */
